<h1>Ссылки на практически работы по Ангулар</h1>
<h2>Урок 1 Введение</h2>
<ul>
  <li><a href="https://stackblitz.com/edit/angular-ivy-hysip5?file=Readme.md">Создание файла Readme</a></li>
</ul>
<h2>Урок 2 Создание проекта. Компоненты. Модули.</h2>
<ul>
  <li><a href="https://stackblitz.com/github/karelalex/less2-task1">Задание Радуга</a></li>
  <li><a href="https://stackblitz.com/github/karelalex/less2-task10">10 компонентов в проекте</a></li>
  <li><a href="https://stackblitz.com/github/karelalex/less2-task11">Различные темплейты в компонентах</a></li>
  <li><a href="https://stackblitz.com/github/karelalex/less2-task12">Шахматная доска</a></li>
  <li><a href="https://stackblitz.com/github/karelalex/less2-task15">Вложенные модули</a></li>
</ul>
<h2>Урок 3 Директивы</h2>
<ul>
  <li><a href="https://stackblitz.com/github/karelalex/less3-task1">Директива подсказок</a></li>
  <li><a href="https://stackblitz.com/github/karelalex/less3-task2">Директива с блокирующим кнопку чекбоксом</a></li>
  <li><a href="https://stackblitz.com/github/karelalex/less3-task3">Директива переброса каретки</a></li>
</ul>
<h2>Урок 4 Структурные директивы Ангулар + Урок 6 Формы Директива ngMоdel</h2>
<ul>
  <li><a href="https://stackblitz.com/github/karelalex/less4-task1">Таблица оценок успеваемости</a></li>
</ul>
<h2>Урок 5 Сервисы</h2>
<ul>
  <li><a href="https://stackblitz.com/github/karelalex/less5-task2">Декоратор @Host</a></li>
  <li><a href="https://stackblitz.com/github/karelalex/less5-task3">Фабрика</a></li>
  <li><a href="https://stackblitz.com/github/karelalex/less6-task1/tree/master">Таблица оценок - переход на сервисы</a> </li>
</ul>
<h2>Урок 7 Реактивные формы</h2>
<ul>
  <li><a href="https://stackblitz.com/github/karelalex/less6-task1/tree/reactive-form">Таблица оценок - переход на реактивные формы</a> </li>
</ul>
<h2>Урок 8 Валидация форм</h2>
<ul>
  <li><a href="https://stackblitz.com/github/karelalex/less6-task1/tree/validation">Таблица оценок - валидация</a> </li>
</ul>
<h2>Урок 9 HTTP запросы</h2>
<ul>
  <li><a href="https://stackblitz.com/github/karelalex/less9-task1">Таблица с информацией загруженной с сервера + модальное окно</a></li>
</ul>
<h2>Урок 10 Маршрутизация приложения</h2>
<ul>
  <li><a href="https://stackblitz.com/github/karelalex/less10-task1">Ссылки на материалы и задания</a></li>
</ul>
