<h1>Ссылки на материалы по Ангулар</h1>
<h2>Урок 1 Введение</h2>
<ul>
  <li><a href="https://docs.npmjs.com/cli/version.html">npm version</a></li>
  <li><a href="https://docs.npmjs.com/cli/install.html">npm install</a></li>
  <li><a href="https://docs.npmjs.com/cli/uninstall.html">npm uninstall</a></li>
  <li><a href="https://docs.npmjs.com/cli/update.html">npm update</a></li>
  <li><a href="https://docs.npmjs.com/cli/run-script.html">npm run script</a> </li>
  <li><a href="https://www.youtube.com/watch?v=26pHLqNmx3Q">Видео про README</a></li>
  <li><a href="https://metanit.com/web/angular2/1.1.php">Введение(Metanit)</a></li>
</ul>
<h2>Урок 2 Создание проекта. Компоненты. Модули.</h2>
<ul>
  <li><a href="https://xsltdev.ru/angular/tutorial/angular-cli/">Angular ClI</a></li>
  <li><a href="https://www.youtube.com/watch?v=BgUiEuNaGuE">Видео про создание компонента</a> </li>
  <li><a href="https://www.youtube.com/watch?v=BL0onSQtKLY">Видео про интерполяция</a></li>
  <li><a href="https://www.youtube.com/watch?v=yQpg1L3jH_E">Видео про bindings</a></li>
  <li><a href="https://www.youtube.com/watch?v=9YfCaddI5bg">Видео про event bindings</a></li>
  <li><a href="https://xsltdev.ru/angular/tutorial/angular-templates/">Шаблоны Ангулар (Xsltdev)</a></li>
  <li><a href="https://ultimatecourses.com/blog/difference-change-ngmodelchange-angular">Различия между change и ngModelChange</a></li>
  <li><a href="https://angular.io/api/core/Component">Компоненты. Официальная документация</a> </li>
  <li><a href="https://xsltdev.ru/angular/tutorial/application-structure/">Структура приложения (Xsltdev)</a> </li>
  <li><a href="https://webdraftt.com/tutorial/angular-components">Про компоненты</a> </li>
  <li><a href="https://www.youtube.com/watch?v=dfNAim-ULxU">Видео про компоненты</a> </li>
  <li><a href="https://www.youtube.com/watch?v=1jTZzK09pfw">Видео про шаблоны и стили</a> </li>
  <li><a href="https://webdraftt.com/tutorial/angular-change-detection">Механизм ChangeDetection</a> </li>
  <li><a href="https://www.youtube.com/watch?v=Rxj1jJswUfE">Видео про модули</a></li>
  <li><a href="https://angular.io/api/core/ViewChild">ViewChild</a></li>
  <li><a href="https://metanit.com/web/angular2/2.1.php">Основы ангулар(Metanit)</a></li>
</ul>
<h2>Урок 3 Директивы</h2>
<ul>
  <li><a href="https://metanit.com/web/angular2/3.1.php">Директивы (Metanit)</a></li>
  <li><a href="https://xsltdev.ru/angular/tutorial/angular-directives/">Директивы (Xsltdev)</a> </li>
</ul>

<h2>Урок 4 Структурные директивы Ангулар</h2>
<ul><li><a href="https://metanit.com/web/angular2/3.5.php">Структурные директивы(Metanit)</a></li></ul>
<h2>Урок 5 Сервисы</h2>
<ul>
  <li><a href="https://metanit.com/web/angular2/4.1.php">Сервисы и внедрение зависимостей (Metanit)</a></li>
  <li><a href="https://xsltdev.ru/angular/tutorial/angular-services/">Сервисы (Xsltdev)</a></li>
  <li><a href="https://xsltdev.ru/angular/tutorial/dependency-injection/">Внедрение зависимостей (Xsltdev)</a></li>
</ul>
<h2>Урок 6 Формы Директива ngMоdel</h2>
<ul>
  <li><a href="https://metanit.com/web/angular2/5.1.php">Работа с формами (Metanit)</a></li>
  <li><a href="https://xsltdev.ru/angular/tutorial/angular-forms/">Формы (Xsldev)</a></li>
</ul>
<h2>Урок 7 Реактивные формы</h2>
<ul>
  <li><a href="https://metanit.com/web/angular2/5.5.php">Реактивные формы (Metanit)</a></li>
  <li><a href="https://xsltdev.ru/angular/tutorial/angular-reactive-forms/">Реактивные формы (Xsldev)</a></li>
</ul>
<h2>Урок 8 Валидация форм</h2>
<ul>
  <li><a href="https://metanit.com/web/angular2/5.3.php">Валидация формы (Metanit)</a></li>
  <li><a href="https://xsltdev.ru/angular/tutorial/forms-validation/">Валидация формы (Xsldev)</a></li>
</ul>
<h2>Урок 9 HTTP запросы и интерцепторы</h2>
<ul>
  <li><a href="https://metanit.com/web/angular2/6.1.php"> HTTP и взаимодействие с сервером</a></li>
  <li><a href="https://xsltdev.ru/angular/tutorial/angular-http-client/">HttpClient (Xsldev)</a></li>
</ul>
<h2>Урок 10 Маршрутизация приложения</h2>
<ul>
  <li><a href="https://metanit.com/web/angular2/7.1.php">Маршрутизация (Metanit)</a></li>
  <li><a href="https://xsltdev.ru/angular/tutorial/angular-routing-basics/">Маршрутизация (Xsldev)</a></li>
</ul>
<h2>Миниурок 11 Pipes</h2>
<ul>
  <li><a href="https://metanit.com/web/angular2/8.1.php">Pipe (Metanit)</a></li>
  <li><a href="https://xsltdev.ru/angular/tutorial/angular-pipes/">Pipe (Xsldev)</a></li>
</ul>

